.d2ps-btn-wrapper {
    display: inline-flex;
    // gap: 4px;
}

.d2ps-btn {

    // カテゴリ名ボタン
    &.d2ps-btn--random {
        width: 100%;
    }

    // 削除ボタン。カテゴリ、タグボタンの左隣に出現
    &.d2ps-btn--delete {
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        width: 2em;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: transparent;
        border: none;

        &:hover {
            background-color: var(--secondary-background-hover);
        }
    }


    // &.d2ps-btn--inner-text{
    //     flex: 1;
    //     border: none;
    //     background-color: transparent;
    // }
    // &.d2ps-btn--inner-text-hover{
    //     flex: 1;
    //     border: none;
    //     background-color: transparent;
    // }
}