.d2ps-search {
    display: flex;
    gap: .5rem;
    width: 100%;
    padding: 8px;
}

.d2ps-search__input {
    width: 100%;
    background-color: var(--p-inputtext-background, #090909);
    color: var(--p-inputtext-color, #fff);
    border: 1px solid var(--p-inputtext-border-color, #666);
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}