.d2ps-tab{
    display: flex;    
    gap: .3em;
}

.d2ps-tab__button{
    --p-button-primary-background: #244f7a;
    --p-button-primary-border-color: #48729b;
    --p-button-primary-color: #fff;
    border-radius: 0 0 6px 6px;
    border-top: none;

    &[data-active="true"]{
        --p-button-primary-background: #000;
    }
}
